html {
    scroll-behavior: smooth;
    transition: all 1s;
    overflow-x: hidden;
}


body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

/* NAVBAR */

header {
    background: #111;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Logo {
    font-size: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #00ffff;
}

.nav-link.active {
    color: #00ffff;
    font-weight: bold;
}




.but{
    width: 125px;
    height: 50px;
    
}

button a{
    text-decoration: none;
    font-size: 15px;
}

button a:hover{
    color: #fff;
}

button:hover{
    background-color: orangered;
}


/*  HERO */

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(45deg, #3498db, #6dd5fa);
    color: white;
}

.button {
    margin-top: 20px;
}

.btn {
    background: white;
    color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.btn2 {
    background: black;
    color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* SECTIONS */

section{
    padding: 100px 20px;
    text-align: center;
    scroll-margin-top: 80px;
}

/* PROJECTS */

.projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
     background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     /* min-width: 250px; */
    border-radius: 10px;
}


   
    padding: 20px;
   
    
.projects-wrapper{
    overflow: hidden;
    width: 100px;
    margin-top: 40px;
}

.project-track{
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}

.projects-wrapper:hover .project-track{
     animation-play-state: paused;
}

/* HAMBURGER */

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    display: flex;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: white;
    display: block;
}

.line{
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}



.hamburger.active  .line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}


.hamburger.active .line:nth-child(2){
    opacity: 0;
}



.hamburger.active  .line:nth-child(3){
    transform:rotate(-45deg) translate(6px, -6px);
}

nav{
    
/*     
         position: fixed;  
        top: 130px;
        right: 0;
        background: #111;
        width: 250px;
        /* height: 100vh; */
        /* flex-direction: column;*/
        /* padding: 20px; */
        /* transform: translateX(100%); */
        /* transition: transform 0.3s ease;  */
}


nav.show{
    transform: translateX(0);
}






/* ANIMATION */

@keyframes scroll-left{

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}



/* FOOTER */

footer{
    background: #111;
    text-align: center;
    color: #ffff;
    padding: 20px;
}

/* MOBILE RESPONSIVE */

@media(max-width: 768px){

 body{
    overflow-x: hidden;
 }

 .hamburger{
    display: flex;
 }

    header{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    

     nav{ 
        /* justify-content: center; 
         position: fixed;  
        top: 130px;
        right: 0;
        background: #111;
        width: 250px;
        /* height: 100vh; */
        /* flex-direction: column;*/
        padding: 20px; 
        transform: translateX(200%);
        transition: transform 0.3s ;
     } 


    nav a{
        margin: 10px 0;
    }

    
    nav .show{
    transform: translateX(0);
    opacity: 0;
    }

    .hero{
        padding: 80px 20px;
    }

    .project-track{
        display: flex;
        gap: 20px;
        width: max-content;
        animation: scrollProjects 25s linear infinite;
    }

    .project{
        flex: 0 0 auto;
        width: 250px;

        padding-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    }


@media(max-width: 480px){
    .hero h2{
        font-size: 24px;
    }

    .project{
        min-width: 180px;
        padding: 15px;
    }
}
